
@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont,.toolsbar-btn {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-layout:before { content: "\e600"; }
.icon-top:before { content: "\e601"; }
.icon-weibo:before { content: "\e602"; }
.icon-phone:before { content: "\e603"; }
.icon-qq:before { content: "\e604"; }
.icon-home:before { content: "\e605"; }
.icon-logo:before { content: "\e606"; }
.icon-subscrbe:before { content: "\e607"; }
.icon-support:before { content: "\e608"; }
.icon-weixin:before { content: "\e609"; }
.icon-menu:before { content: "\e60a"; }

html,body,ul,ol,pre{margin: 0; padding: 0;}
body{font-size: 14px; font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei"; background: #fff; color: #666;}
p,h3{padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
img{border: none; vertical-align: top;}
h3{font-weight: normal;}


#container{overflow: hidden; position: relative;}
.contain{width: 100%; height: 100%;}
.wrapper{width: 960px; height: 100%; margin: 0 auto; overflow: hidden;}
.page{display: none;}

/* 头部 */
.header{height: 60px; line-height: 60px; background: rgba(30,42,57,0.88); z-index: 9;}
.header .top{display: flex;}
.header .top span{display: inline-block; padding: 0 10px; cursor: pointer;}
.header .top .iconfont{font-size: 28px; color: #fff;}
.header .top .logo{margin: 0 auto; flex: 1; text-align: center;}
.header .top .support{float: right;}
.header .top span:hover .iconfont{color: #E91E63;}
/* 励志标语 */
.banner{margin-top: 60px;}
.banner .wrapper{text-align: center;}
.banner .title{font-size: 18px;}
.banner .box{box-shadow: 0 0 5px #999;}
/* 手风琴 */
.banner .accordion{overflow: hidden;}
.banner .accordion .imgList{width: 3000px;}
.banner .accordion .imgList li{width: 107px; height: 440px; position: relative; float: left; overflow: hidden; 
	-webkit-transition: all .6s; 
	-moz-transition: all .6s; 
	-ms-transition: all .6s; 
	-o-transition: all .6s; 
	transition: all .6s;}
.banner .accordion .imgList img{display: block;}
.banner .accordion .title{width: 588px; position: absolute; bottom: 0; left: 0; text-align: left; background: rgba(0,0,0,.6);}
.banner .accordion .title a{display: block; padding: 20px; font-size: 14px; color: #fff;}

.banner .accordion ul:hover li{width: 48px;}
.banner .accordion ul li:hover{width: 588px;}
/* 小图标盒子 */
.banner .share-box{height: 80px; line-height: 80px; position: relative;}
.title-box,.share-link{height: 100%; }
.title-box{width: 500px; background: #C10841; text-align: center; display: inline-block; font-size: 20px; color: #fff;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.title-box .sup1{width: 199px;  border-right: 1px solid #fff;}
.title-box .sup2{width: 300px;}
.title-box:hover{background: #fff; color: #C10841;}
.title-box:hover .sup1{border-color: #C10841;}
.title-box .icon-support{font-size: 20px;}

.share-link{position: absolute; right: 0;}
.share-link a{width: 115px; height: 100%; text-indent: 120px; font-size: 16px; float: left; position: relative; color: #fff;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
}
.share-link a:hover{width: 414px; text-align: center; text-indent: 0;}
.share-link a:hover .iconfont{opacity: 0;}
.share-link a:nth-of-type(1){background: #2271B4;}
.share-link a:nth-of-type(2){background: #3FAEEE;}
.share-link a:nth-of-type(3){background: #9FCE62;}
.share-link a:nth-of-type(4){background: #FF9900;}
.share-link a .iconfont{position: absolute; left: -70px; font-size: 20px;}
/* 网页展示 */
.webShow .wrapper{padding-left: 20px;}
.webShow .webTitle{width: 100%; padding: 30px 0; text-align: center; font-size: 24px; color: #fff;}
.webShow .imgBox{position: relative; width: 300px; margin: 20px 20px 0 0; border: 10px solid rgba(0,0,0,.4); float: left; overflow: hidden; box-sizing: border-box;}
.webShow .imgBox .mask{width: 100%; height: 100%; background: #000; opacity: 0; text-align: center; color: #fff; font-size: 24px; cursor: pointer; position: absolute; left: 0; top: 0; -webkit-transition: all .6s; -moz-transition: all .6s; transition: all .6s;}
.webShow .imgBox img{display: block; width: 100%; height: 100%}
.webShow .imgBox .mask:hover{opacity: .6;}
.webShow .webapp{height: 460px; line-height: 460px;}
.webShow .webpc{height: 260px; line-height: 260px;}
.webShow .web163{width: 100%; height: 460px; line-height: 460px;}

/* demo实例 */
.webShow .title{border-bottom: 2px solid #ddd;}
.webShow .title a{display: block; padding: 10px 0; color: #FF9900;}
.webShow .title h2{display: inline; font-size: 24px; font-size: 36px;}
.demoTest{position: relative; overflow: hidden; padding: 10px 20px; border-bottom: 1px solid #ddd;}
.demoTest .subTitle{color: #2196F3; 
	-webkit-transition: all 1s; 
	-moz-transition: all 1s; 
	-ms-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s;
}
.demoTest .subTitle h3{width: 60%; font-size: 22px; font-weight: normal;}
.demoTest .subTitle .showDemo{ position: absolute; right: 20px; top: 20px; display: block; width: 200px; padding: 10px 0; text-align: center; color: #fff; font-size: 20px; background: #0BC2D2; -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s;}
.demoTest .subTitle .showDemo:hover{background: #FFC266;}

.demoTest a:hover{text-decoration: underline; color: #0D6CBF;}
.demoTest .text{width: 75%; float: left;}
.demoTest .demoPic{width: 200px; float: right;}
.demoTest .demoPic img{width: 100%;}
.demoTest .demoInfo{font-size: 16px;}

@keyframes arrMove{
	0%{transform: translateX(0px); opacity: 0;}
	50%{transform: translateX(30px); opacity: 1;}
	100%{transform: translateX(50px); opacity: 0;}
}
@-webkit-keyframes arrMove{
	0%{-webkit-transform: translateX(0px); opacity: 0;}
	50%{-webkit-transform: translateX(30px); opacity: 1;}
	100%{-webkit-transform: translateX(50px); opacity: 0;}
}

/* 侧边栏 */
#navbar{position: fixed; top: 0; left: -200px; bottom: 0; width: 200px; height: 100%; background: #F6F6F6; z-index: 13; transition: all .6s;}
#navbar .title{position: relative; height: 120px; background: #8bc34a url(../img/sb_bg.jpg)no-repeat;}
#btn_close{position: absolute; right: 10px; font-size: 24px; cursor: pointer;}
.menuList {height: 100%; overflow-y: auto;}
.menuList .list{}
.menuList .list li{padding: 5px 10px; border-bottom: 1px solid rgba(246, 246, 246, 0.28); background-color: #f6f6f6; cursor: pointer;}
.menuList .list li:hover{background-color: #fff;}
.menuList .list li a{color: #856666;}
/* 底部导航 */
.ad_sidebar{position: fixed; left: 0; bottom: 0; right: 0; width: 100%; height: 80px; line-height: 80px; background: #051223; opacity: .9; z-index: 9;}
#close{position: absolute; right: 150px; top: 0; font-family: 'Simsun'; font-size: 38px; cursor: pointer;}
#open{position: absolute; right: 0px; display: none; width: 100px; height: 80px; line-height: 90px; background: #051233;}
#open img{-webkit-animation: 2s arrMove infinite; animation: 2s arrMove infinite;}

#navBox{width: 940px; height: 100%; margin: 0 auto; overflow: hidden;}
.navType {float: left;}
.navType >a{display: inline-block; padding: 5px 25px; font-size: 16px; color: #fff;}
.navType >a:hover,
.navType .selected{background: #E91E63; color: #fff;}

/* 课程代码 */
.code{position: relative; border: 1px solid #ddd; background: #E7E5DC;}
.code pre{height: 100%; background: #F8F8F8; font-family: "Consolas", "Courier New", Courier, mono, serif;}
.code ol{padding-left: 45px; background: #F8F8F8;}
.code ol li{padding: 3px 0 0 10px; background: #fff; border-left: 3px solid #6CE26C;}
.code ol li:hover{background: #F8F8F8;}
.code .view{margin-left: 45px; line-height: 30px; border-bottom: 1px solid #ddd;}
.code .view a{display: inline-block; padding: 5px 20px; background: #384350; color: #fff; -webkit-transition: all .6s; transition: all .6s;}
.code .view a:hover{background-color: #C10841;}

/* 返回顶部 */
.toolsbar{position: absolute; right: 10px; bottom: 26px; transition: top .2s; z-index: 10;}
.toolsbar-item{position: relative; display: block; width: 52px; height: 52px; margin-top: 1px;}
.toolsbar-item:after{content: ""; width: 160px; position: absolute; right: 53px; bottom: 0; background: url(../img/wx.jpg)no-repeat; opacity: 0; filter: alpha(opacity=0);
	-webkit-transition: all .6s; 
	-moz-transition: all .6s; 
	-ms-transition: all .6s; 
	-o-transition: all .6s; 
	transition: all .6s; 
	-webkit-transform: scale(0.01); 
	-moz-transform: scale(0.01); 
	-ms-transform: scale(0.01); 
	-o-transform: scale(0.01); 
	transform: scale(0.01); 
	-webkit-transform-origin: right bottom; 
	-moz-transform-origin: right bottom; 
	-ms-transform-origin: right bottom; 
	-o-transform-origin: right bottom; 
	transform-origin: right bottom;}

.toolsbar-item:hover .toolsbar-btn:before{top: -52px;}
.toolsbar-item:hover .toolsbar-btn:after{top: 0;}
.toolsbar-item:hover:after{opacity: 1; filter: alpha(opacity); 
	-webkit-transform: scale(1); 
	-moz-transform: scale(1); 
	-ms-transform: scale(1); 
	-o-transform: scale(1); 
	transform: scale(1); }

.toolsbar-weixin .toolsbar-btn:before{content: "\e609";}
.toolsbar-weixin .toolsbar-btn:after{content: "微信\A账号";}
.toolsbar-weibo .toolsbar-btn:before{content: "\e602";}
.toolsbar-weibo .toolsbar-btn:after{content: "微博\A账号";}
.toolsbar-home .toolsbar-btn:before{content: "\e605";}
.toolsbar-home .toolsbar-btn:after{content: "进入\A官网";}
.toolsbar-top .toolsbar-btn:before{content: "\e601";}
.toolsbar-top .toolsbar-btn:after{content: "返回\A顶部";}

.toolsbar-weixin:after{content:""; height: 200px;}

.toolsbar-btn{overflow: hidden; left: 0; top: 0;}
.toolsbar-btn,.toolsbar-btn:before,.toolsbar-btn:after{content: ""; position: absolute; width: 52px; height: 52px; 
-webkit-transition: all .6s;
-moz-transition: all .6s;
-ms-transition: all .6s;
-o-transition: all .6s;
transition: all .6s;}

.toolsbar-btn:before{left: 0; top: 0;}
.toolsbar-btn:after{top: 52px;}
.toolsbar-btn:before{line-height: 52px; font-size: 24px; color: #fff; background: #607D8B; text-align: center;}
.toolsbar-btn:after{padding-top: 12px; line-height: 1.2em; font-size: "黑体"; font-size: 14px; background: #051223; opacity: .7; text-align: center; color: #fff; white-space: pre; font-weight: normal;}


/* 其他页面内容 */
.page_details{padding-left: 50px; -webkit-transition: all .4s; transition: all .4s;}

.theme-blue{background: #79D6D6;}
.theme-green{background: rgba(159,206,98,.8);}
.theme-orange{background: rgba(255,153,0,.6);}
.theme-cyan{background: rgba(31,201,39,.8);}
.fixed{position: fixed; left: 0; top: 0; right: 0;}
.pdt50{padding-top: 50px;}
.pdb30{padding-bottom: 30px;}
.h30{height: 30px; clear: both;}
.h80{height: 60px; clear: both;}
.fl{float: left;}
.fr{float: right;}

@media (max-width: 768px){
	.wrapper,
	.title-box,
	.banner .share-link,
	.demoTest .demoPic,
	.demoTest .title{width: 100%;}

	.webShow .wrapper{display: block; padding-left: 0;}
	.webShow,.banner .box{padding: 0 20px;}


	#navBox, .ad_sidebar{display: none;}
	.webShow .imgBox{width: 80%; margin: 20px auto 0; left: 50%; transform: translateX(-50%)}
	.banner .share-box{height: auto;}
	.title-box .sup1{width: 100%; border-right: none;}
	.title-box .sup2{display: none;	}
	.banner .share-link{position: static; height: 200%;}
	.banner .share-link a{width: 50%; text-indent: 0;}
	.banner .share-link a:hover{width: 50%; background-color: red;
		-webkit-transition: all 1s; 
		-moz-transition: all 1s; 
		-ms-transition: all 1s; 
		-o-transition: all 1s; 
		transition: all 1s;
	}
	.share-link a .iconfont{display: none;}
	.demoList .title{text-indent: 20px;}
	.demoTest{padding: 10px 20px;}
	.demoTest .demoPic{margin: 0 auto;}
	.demoTest .demoPic img{width: 80%; }
	.demoTest .text{width: 90%;}
	.demoTest .subTitle h3{margin: 5px 0;}
	.demoTest .subTitle .showDemo{display: none;}

