html,body,ul,ol,pre{margin: 0; padding: 0;}
body{font-size: 14px; font-family: "Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei"; background: #fff; color: #666;}
p,h3{padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
img{border: none; vertical-align: top;}
h3{font-weight: normal;}
