

body{
	font-family: 'PT Serif Caption', serif;
	font-size: 14px;
	line-height: 24px;
	color: #343434;
	min-width: 1024px;
	background: url(images/bg-body.gif) #e6e4d7;
	text-transform: uppercase;
	margin: 0;
}
html,body{
	height: 100%;
}
p{
	margin: 0;
	padding-bottom: 18px;
}
img{
	border: none;
	vertical-align: top;
}
a{
	text-decoration: none;
	color: #D53827;
}
ul{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	padding: 0;
	margin: 0;
	font-family: 'PT Serif Caption', serif;
}
h3{
	font-size: 35px;
	line-height: 38px;
	padding: 33px 0 18px;
}
figure, blockquote{
	margin: 0;
	padding: 0;
}


/* 总体结构 */
.main{
	margin: 0 auto;
	position: relative;
	width: 940px;
	padding-bottom: 20px;

}	
.readmore{
	width: 96px;
	height: 20px;
	padding: 12px 16px;
	background: #D53827;
	color: #fff;
	font-weight: bold;
	display: block;
	transition: all .3s linear;
}
.readmore:hover{
	background: #000;
}

/* header */
header{
	padding: 0;
	position: relative;
	background: url(images/tail-header.gif);
}

.line-top{
	background: url(images/line-top.gif)repeat-x 0 0;
	height: 6px;
}
.row-top{
	padding: 21px 0 14px;
}
h1{
	float: left;
}
h1 a{
	display: block;
}

/* left right clear */
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear{
	clear: both;
}

/* nav */
nav{
	padding-top: 10px;
	float: right;
	display: block;
}
.list{
	margin: 0; padding: 0;
}
.list > li{
	float: left;
	position: relative;
	margin-left: 4px;
	border-radius: 4px;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	background: url(images/point.png);
}
.list > li:hover, .list > li.active{
	background: url(images/tail-item.gif);
	box-shadow: insert 0 1px 3px #c5c2a9;
	
}
.list  li a{
	color: #343434;
	line-height: 20px;
	display: inline-block;
	padding: 12px 14px;
	font-weight: bold;
	box-shadow: insert 0 1px 3px #c5c2a9;
}
.list > li:hover a, .list > li.active a{
	color: #D53827;
}
/* 二级菜单 */
.list > li > ul{
	margin-top: 1px;
	position: absolute;
	background:url(images/bg-body.gif);
	padding:11px 14px 14px;
	top: -999em;
	width: 160px;
	border-radius: 8px;
}
.list  li li,.list li li a{
	padding: 0;
	margin: 0;
}
.list li ul li a{
	color: #343434;
}
.list > li:hover ul{
	left: 0;
	top: 47px;
	z-index: 10;
}
.list > li:hover ul a{
	color: #343434;
}
.list > li:hover ul li:hover a{
	color: #D53827;
}

/* 幻灯片 */
.box-silde{
	margin: 0 auto;
	width: 1020px;
	height: 468px;
}
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
.fixsilide{
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.fixsilide .slides{
	padding: 10px;
	border-radius: 14px;
	background: #fff;

}
.fixsilide .slides li{
	padding: 0;
	position: relative;
	display: none;
}
.fixsilide .slides img{
	border-radius: 7px;
}
.flex-direction-nav{
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -33px;
	position: absolute;
}
.flex-direction-nav li{
	position: relative;
	float: left;
	width: 50%;
}
.flex-direction-nav a{
	width: 66px;
	height: 66px;
	display: inline-block;
}
.flex-direction-nav .prev{
	background: url(images/prev.png)no-repeat 0 0;
	float: left;
	margin-left: -66px;
}
.flex-direction-nav .next{
	background: url(images/next.png)no-repeat 0 0;
	float: right;
	margin-right: 10px;
}
.flex-direction-nav li a:hover{
	background-position: 0 bottom;
}

/*  */
.box-slogan{
	margin: 0 auto;
	width: 940px;
	text-align: center;
	font-family: 'PT Serif Caption', serif;
}
.box-slogan h2{
	margin-top: 16px;
	margin: 0;
}
.box-slogan p {
	margin: 0;
}
.box-slogan p a{
	color: #D53827;
}
.box-slogan p a:hover{
	color: #343434;
}

/* content主体部分 */
#content{
	background: url(images/tail-cont.gif);
	padding: 0 0 44px;
}
.ic{
	border: 0;
	float: right;
	width: 50%;
	background: #fff;
	color: #fff;
	line-height: 10px;
	margin: -220px 0 0 0;
	padding: 0;
	overflow: hidden;
}
.border-horiz{
	background: url(images/border-horiz.gif)repeat-x 0 0;
	height: 2px;
}
/* */
.container-12{
	width: 960px;
	margin: 0 auto;
}
.grid-4{
	width: 300px;
	padding: 0 10px;
	float: left;
}

h3 span{
	color: #D53827;
	display: block;
}
.grid-4 figure{
	background: #fff;
	border-radius: 8px;
	margin: 0;
	padding: 10px;
}


/* 加间距 */
.row-1{
	padding-bottom: 40px;
}

.list-popular{
	margin: 0;
	padding: 0;
}

.list-popular > li > a{
	font-size: 16px;
	font-weight: bold;
}
/* 第二部分 */

.grid-8{
	width: 620px;
	float: right;
}

.grid-8 blockquote{
	position: relative;
	padding-left: 30px;
}
.grid-8 blockquote:before{
	content: "";
	position: absolute;
	left: 0; top: 0;
	width: 27px;
	height: 21px;
	background: url(images/quote-part.png)no-repeat 0 0;
}
.author-name{
	line-height: 24px;
	float: right;
	color: #D53827;
	font-weight: bold;
	font-style: italic;
}

.list-food{
	padding: 20px 0 0 0;
	overflow: hidden;
	width: 645px;
}
.list-food li{
	width: 190px;
	float: left;
	margin-left: 20px; 
}
.wrapper{
	width: 100%;
	overflow: hidden;
}
.dropcap{
	width: 54px;
	line-height: 48px;
	margin: 0 10px 10px 0;
	padding: 8px 2px 1px;
	background: #D53827;
	display: block;
	border-radius: 100%;
	color: #fff;
	text-align: center;
	font-size: 45px;
	font-style: normal;
	float: left;
}
.list-food li a{
	line-height: 24px;
	font-size: 20px;
	color: #343434;
}
.box-img{
	padding: 10px;
	border-radius: 12px;
	background: #fff;
	overflow: hidden;
	display: inline-block;
}
.box-img img{
	height: 133px;
}

.list-food figure img{
	border-radius: 6px;
}

/* index-2 */
.side-bar{
	background: #fff;
	border-radius: 14px;
	width: 280px;
	float: left;
	padding: 0 10px 7px 40px;
	margin: 20px 20px 0 -30px;
}
.side-bar ul{
	padding: 0;
}
.side-bar li{
	background: url(images/marker-1.png)no-repeat 0 center;
	text-indent: 15px;
}

.grid-8 ul{
	padding: 0;
}
.grid-8 ul li{
	float: right;
	padding: 10px 0;
	transition: all .3s linear;
}
.grid-8 ul li figure{
	float: left;
	margin-right: 30px;
	overflow: hidden;
}
.grid-8 ul li h4{
	font-size: 20px;
	line-height: 28px;
	color: #D53827;
}
.grid-8 a{
	display: inline-block;
}
.border-img{
	padding: 10px;
	border-radius: 12px;
	background: #fff;
	overflow: hidden;
	display: inline-block;
}
.ul-1 .border-img img{
	height: 133px;
}

/* 页面3 */
.extra{
	padding: 18px 10px 0 40px;
}
.extra h3 span{
	display: inline-block;
	margin-right: 5px;
}
.extra h3 em{
	display: block;
	font-style: normal;
	font-size: 20px;
	line-height: 28px;
	color: rgba(0,0,0,.4);
	padding: 0; margin: 0;
}
.list-dropcap1 li{
	background: none;
	text-indent: 0;
	padding-bottom: 20px;
}
.list-dropcap1 h4{
	height: 64px;
	font-size: 20px;
	line-height: 24px;
}
.list-dropcap1 .dropcap{
	text-indent: 0px;
	background: #000;	
}
.wrapper p{
	clear: both;
}
.grid-8 .list-dropcap1 h4{
	padding-top: 14px;
}
.overflow{
	float: right;
	width: 320px;
}
/* 页面4 */
.padd-2{
	width: 610px;
}
.news{
	padding: 0;	
}
.new a{
	font-size: 20px;
	line-height: 28px;
	display: inline-block;
}
.new li{
	padding: 0;
}
.grid-6 {
	width: 460px;
	float: left;
}
.grid-6 img{
	width: 190px;
}
.grid-6 .overflow{
	width: 220px;
	float: right;
}
/* 页面5 */
.extra-1{
	padding: 10px 20px 20px 25px;
}
.extra-1 .border-img{
	box-shadow: 0 0 3px #ccc;
	padding: 10px;
}
/* 联系我们页面6 */

/* adress */
.box-address{
	width: 260px;
	float: left;
}
.box-address h4{
	font-size: 20px;
	line-height: 24px;
	color: #D53827;
}
dl{
	padding-top: 2px;
}
dt{
	padding-bottom: 5px;
}
dd{
	display: inline-block;
	margin: 0;
}
dl dd span{
	display: inline-block;
	width: 94px;
}
/* contact forms */
.box-contact{
	width: 940px;
	margin: 60px auto 0;
	background: #fff;
	border-radius: 18px;
	padding: 0 40px 51px;
}

.coll-1,.coll-2{
	width: 450px;
	float: left;
}
.coll-2{
	float: right;
}

#contact-form{
	position: relative;
	margin: 0; padding: 0;
	z-index: 1;
	vertical-align: top;
}
#contact-form fieldset{
	border: none;
	width: 100%;
	overflow: hidden;
}
#contact-form label{
	width: 100%;
	min-height: 54px;
	margin: 0;
	float: left;
	display: block;
	overflow: hidden;
	position: relative;
}
#contact-form .message{
	width: 100%;
	min-height: 213px;
	display: block;
}
/* map */
.map{
	width: 630px;
	float: right;
}
#contact-form input, #contact-form textarea{
	outline: none;
	padding: 4px 12px 5px;
	font-size: 14px;
	display: block;
	line-height: 24px;
	color: #343434;
	background: #e8e7de;
	width: 94%;
	border: 1px solid #d1cfbd;
	text-transform: uppercase;
}
#contact-form input{
	height: 24px;
}
#contact-form textarea{
	height: 184px;
	resize: none;
	overflow: auto;
}
#contact-form textarea:focus,
#contact-form input[type="text"]:focus{
	box-shadow: none;
}
#contact-form a{
	cursor: pointer;
}
.btns{
	overflow: hidden;
	padding-left: 380px;
}
.btns a{
	float: left;
	margin-right: 40px;
	display: inline-block;
	padding: 10px;
	background: #D53827;
	color: #fff;
	transition: all .3s linear;
}
.btns a:hover{
	background: #000;
}
iframe{
	height: 183px;
	width: 630px;
	overflow: hidden;
}

/* footer */
footer{
	position: relative;
	padding: 31px 0 20px;
	background: url(images/tail-bg-footer.gif)repeat-x 0 0;
}
.soc-list{
	overflow: hidden;
}
.soc-list li{
	float: left;
	margin-left: 5px;
}
.policy{
	display: block;
	margin-top: 10px;
	line-height: 16px;
	padding: 8px 34px 0 0;
}