
@mixin transition($transition){
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-ms-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin rotateY($rotate){
	-webkit-transform: rotateY($rotate);
	-moz-transform: rotateY($rotate);
	-ms-transform: rotateY($rotate);
	-o-transform: rotateY($rotate);
	transform: rotateY($rotate);
}
@mixin transform($trX,$trY,$rotate){
	-webkit-transform: translate($trX,$trY) rotateY($rotate);
	-moz-transform: translate($trX,$trY) rotateY($rotate);
	-ms-transform: translate($trX,$trY) rotateY($rotate);
	-o-transform: translate($trX,$trY) rotateY($rotate);
	transform: translate($trX,$trY) rotateY($rotate);
}
@mixin origin($x,$y){
	-webkit-transform-origin: ($x $y);
	-moz-transform-origin: ($x $y);
	-ms-transform-origin: ($x $y);
	-o-transform-origin: ($x $y);
	transform-origin: ($x $y);
}
@mixin scale($scale){
	-webkit-transform: scale($scale);
	-moz-transform: scale($scale);
	-ms-transform: scale($scale);
	-o-transform: scale($scale);
	transform: scale($scale);
}


@font-face {font-family: "iconfont";
  src: url('fonts/iconfont.eot'); /* IE9*/
  src: url('fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-rotateleft:before { content: "\e875";}
.icon-rotateright:before { content: "\e639"; }


*{margin: 0; padding: 0;}

body{
	font-size: 14px;
	font-family: "Menlo";
	color: #ddd;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

/* 包裹层 */
.wrap{
	width: 100%; height: 600px;
	top: 50%; margin-top: -300px;
	background-color: #2d2d2d;
	position: absolute;
	overflow: hidden;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
}

.photo,.side{
	width: 260px; height: 320px;
	position: absolute;
}

/* 每张海报 */
.photo{
	@include transition(all .6s);
	z-index: 2;

}
/* 海报正反面公共样式 */
.side{
	padding: 20px;
	color: #666;
	background-color: #f0f0f0;
	font-family: "微软雅黑";
	box-sizing: border-box;
	
}
/* 海报正面 */
.photo_front{
	text-align: center;
}
.imgbox{
	&,img{
		width: 100%; height: 250px;
	}
}
.caption{
	padding: 10px 0;
}

.photo_back{
	
}
.desc{
	font-size: 16px;
}

.photo_center{
	left: 50%; top: 50%;
	margin: -160px 0 0 -130px;
	z-index: 99;
}

.photo_wrap{
	width: 100%; height: 100%; position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	@include transition(all .6s);
	
	
	.photo_front{
		@include rotateY(0deg);
	}
	.photo_back{
		@include rotateY(180deg);
	}
	.side{
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
	}
	
}
.photo_front{
	.photo_wrap{
		@include rotateY(0deg);
	}
}
.photo_back{
	.photo_wrap{
		@include rotateY(180deg);
	}
}

/* 控制图片的小图表 */
.nav{
	width: 80%; height: 30px; 
	line-height: 30px;
	position: absolute;
	left: 10%; bottom: 16%;
	text-align: center;
	z-index: 99;
	.dots{
		width: 30px; height: 30px; 
		line-height: 30px;
		margin-right: 5px;
		display: inline-block;
		color: #fff;
		background-color: #999;
		border-radius: 30px;
		cursor: pointer;
		overflow: hidden;
		@include scale(.4);
		@include transition(all .6s);
		
		&.current{
			@include scale(1);
			@include rotateY(0deg);
			color: #fff;
			font-size: 12px;
			position: absolute; top:0;
			z-index: 100;
		}
		&.back{
			background-color: #666;
			font-size: 12px;
			@include rotateY(180deg);
		}
	}
}
/* 优化样式 */
.photo{
	left: 50%; top: 50%;
	margin: -160px 0 0 -130px;
}
.photo_wrap{
	@include origin(0%,50%);
}
.photo_front{
	.photo_wrap{
		@include transform( 0px,0px ,0deg);
	}
}
.photo_back{
	.photo_wrap{
		@include transform( 260px,0px,180deg);
	}
}